html {
  font-family: 'Montserrat', sans-serif;
  background-color: #121213;
}

.news-banner {
  background-color: #4da4c1;
  color: #fff;
}

.banner {
  background-color: rgba(77, 164, 193, .2);
  color: #fff;
  font-family: 'Gelasio', serif;
}

.home-banner {
  background-image: url("../images/main.jpeg");
  background-size: cover;
  min-height: 35em;
  background-position: center center;
}

.logo {
  width: 200px;
}

nav {
  border-top: .1em solid #fff;
  border-bottom: .1em solid #fff;
}

nav a {
  font-family: Montserrat, sans-serif;
  color: #4da4c1;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

nav li:hover {
  background-color: #4da4c1;
}

.active {
  background-color: #fff;
}

.btn {
  color: #fff;
  background-color: #4da4c1;
  border: none;
  font-family: sans-serif;
}

.btn:hover {
  color: #121213;
  background-color: #fff;
  border: none;
}

.review {
  background-color: #121213;
  color: #fff;
}

.icons {
  background-color: #fff;
  color: #121213;
}

.icon-image {
  width: 200px;
  filter: grayscale(100%);
  transition: all .2s linear;
}

.icon-image:hover {
  filter: grayscale(0);
}

h3 {
  color: #4da4c1;
}

.about-banner {
  background-color: #fff
}

.about-h1-h2 {
  color: #4da4c1;
}

.about-p {
  color: #fff;
}

.width-100 {
  max-width: 100px;
}

.prices {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.white-main {
  background-color: #fff;
  color: #121213;
}

.dark-section {
  background-color: #121213;
  color: #fff;
}

.subhead {
  background-color: RGBA(77,164,193,0.07);
  color: #4da4c1;
}

.price-right {
  text-align: right;
}

footer {
  background-color: #fff;
  color: #4da4c1;
}

.dark-footer {
  background-color: #121213;
  color: #4da4c1;
}

.blue-top {
  border-top: 2px solid #4da4c1
}

.social-icon {
  width: 50px;
}

.news-card {
  background-color: #fff;
  border-radius: 10px;
}

a {
  color: #121213;
  text-decoration: none;
}


@media only screen and (min-width: 650px) {

  .wrap-large {
    margin-left: auto;
    margin-right: auto;
    max-width: 52em;
    width: 100%;
  }

}
